{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "$": true,
    "jquery": true
    },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "prefer-const": ["error", {"destructuring": "any"}],
    "func-names": "off",
    "consistent-return": "off",
    "arrow-body-style": "off",
    "no-use-before-define": "off",
  }
}
